# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/

# Media files
/media/

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db
